{% extends 'base.html' %}
{% block content %}
<div class="panel panel-bd lobidisable">
   <div class="panel-heading">
      <div class="btn-group" id="buttonexport">
         <a href="#">
            <h4>Заказы</h4>
         </a>
      </div>
   </div>
   <div class="panel-body">
      <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
      <div class="btn-group">
      </div>
      <!-- ./Plugin content:powerpoint,txt,pdf,png,word,xl -->
      <div class="table-responsive">
         <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
            <thead>
               <tr class="info">
                  <th>Номер заказа</th>
                  <th>Дата</th>
                  <th>ФИО</th>
                  <th>Город</th>
                  <th>Статус</th>
                  <th>Виды работ</th>
                  <th>Объем/м2</th>
                  <th>Примечания</th>
                  <th>Договор</th>
                  <th>Действия</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>{{order.id}}</td>
                  <td>{{order.born}}</td>
                  <td>{{order.fio}}</td>
                  <td>
                     {% for item in order.city.all %}
                     <p>{{item}}</p>
                     {%endfor%}
                  </td>
                  <td>
                     {% if order.status == '1' %}<span class="label-custom label label-default">Выполнен</span>{% else %}<span class="label-warning label label-default">Невыполнен</span>{% endif %}
                  </td>
                  <td>
                     {% for item in order.work.all %}
                     <p>{{item}}</p>
                     {%endfor%}
                  </td>
                  <td>{{order.size}}</td>
                  <td>{{order.description}}</td>
                  <td>{% if order.contract %}Есть{% else %}Нет{% endif %}</td>
                  <td>
                     <a class="btn btn-add btn-xs" href="{% url 'orders:order_edit' pk=order.id %}"><i class="fa fa-pencil"></i></a>
                     <a class="btn btn-danger btn-xs" href="{% url 'orders:order_delete' pk=order.id %}"><i class="fa fa-trash-o"></i> </a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="btn-group">
         <div class="buttonexport">
            <h4>Мастера, которым отправлено смс.</h4>
         </div>
      </div>

         <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
            <thead>
               <tr class="info">
                  <th>ФИО</th>
                  <th>Тел</th>
                  <th>Город</th>
                  <th>В бригаде</th>
                  <th>Договор</th>
               </tr>
            </thead>
            <tbody>
               {% for item in master_list%}
               {% if order.master_changed == item.id %}
               <tr class="success">
                  {% else %}
               <tr>
                  {% endif %}

                  <td><a href="">{{item}}</a></td>
                  <td>{{item.phone}}</td>
                  <td>{% for item in item.city.all %}{{item}}<br/>{% endfor %}</td>
                  <td>{{item.size}}</td>
                  <td>{% if item.contract %}Да{% else %}Нет{% endif %}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
    
   </div>
</div>
{% endblock %}