{% extends 'base.html' %}
{% block content %}
<div class="panel panel-bd lobidisable">
   <div class="panel-heading">
      <div class="btn-group" id="buttonexport">
         <a href="#">
            <h4>Заказы</h4>
         </a>
      </div>
   </div>
   <div class="panel-body">
      <form action="" method="post">{% csrf_token %}
    <p>Вы уверены, что хотите удалить заказ №"{{ object.id }}"?</p>
    <input type="submit" class="btn btn-add" value="Удалить" />
</form>
   </div>
</div>
{% endblock %}
