<!DOCTYPE html>
<html lang="ru" >
<head>
<title>Моя CRM</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/js/main.js" />
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body>
<!-- Container -->
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Site<span>Random</span></div>
		</div>
		<br>
		<form class="login form-horizontal register-form" method="POST" action="">
		    {% csrf_token %}
		<div class="login">
		       {% for field in form %}
		       {{field.tag}}
		       {{field.error}}
		       {{field}}
		       {% endfor %}
				<input type="submit" value="Login">
		</div>
		</form>
<!-- END Container -->
</body>
</html>
