{% extends 'base.html' %}
{% block content %}
<form class="form-horizontal" method="POST" action="">
   {% csrf_token %}
   <fieldset>
      <!-- Text input-->
      {% for field in form %}
      <div class="col-md-6 form-group">
         <label class="control-label">{{field.label}}</label>
         {{field}}
      </div>
      {% endfor %}
      <div class="col-md-12 form-group user-form-group">
         <div class="pull-right">
            <button type="submit" class="btn btn-add btn-sm">Добавить</button>
         </div>
      </div>
   </fieldset>
</form>
{% endblock %}